<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1>Single Product</h1>
    <div id="product_details"> </div>
    <a href="./index.html">Home</a>


    <script>

        const urlParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlParams.entries());
        const productId = params.id

        const getSingleProduct = async (productId) => {

            const etag = sessionStorage.getItem("etag")

            const headers = {
                ...(etag && { "If-None-Match": etag })
            }

            const response = await fetch(`http://localhost:4000/api/v1/products/${productId}`, {
                headers: headers
            })

            if (response.status === 304) {
                const data = JSON.parse(sessionStorage.getItem(`product`))
                console.log("data", data)
                renderDOM({
                    name: data.name,
                    price: data.price,
                    description: data.description,
                    status: data.status

                })
                console.log("Not Modified ")
                return

            }
            if (response.status === 200) {
                const data = await response.json()
                sessionStorage.setItem("etag", response.headers.get("Etag"))
                sessionStorage.setItem(`product`, JSON.stringify(data.data))
                renderDOM({
                    name: data.data.name,
                    price: data.data.price,
                    description: data.data.description,
                    status: data.data.status
                })
                console.log("Modified")
            }
        }
        getSingleProduct(productId)

        const renderDOM = (data) => {
            product_details.innerHTML = `<h2>${data.name}</h2>
            <p>Price: ${data.price}</p>
            <p>Description: ${data.description}</p>
            <span>Status:  ${data.status} </span>`
        }
    </script>
</body>

</html>